*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    top: 0px;
    margin: 0px;
    left: 0px;
    margin-right: 0px;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(93, 4, 93);
    padding-bottom: 200px;
}
.App{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100vw;
    aspect-ratio: 2.0;
    height: min-content;
    background-image: url('./assets/img1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    column-gap: 2.5vw; 
    padding-top:75px;
}
.logo{
    top: 0px;
    position: flex;
    padding-top: 4vh;
    object-fit: contain;
    width: 25vw;
    height: 15vh;
    transform: rotate(-35deg);
    transition: 0.3s all ease;
}
.logo:hover{
    transform: rotate(0deg);
    transition: 1s all ease; 
}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 90vw;
    height: min-content;
    transform: translate(0.5vw, 4vh)
}
input{
    min-width: 500px;
    height: 60px;
    border-width: 5px;
    border-color: transparent;
    border-radius: 100px;
    background-color: rgba(141, 139, 139, 0.425);
    /*transform: translateY(4vh);*/
    padding-left: 25px;
    color: #000;
}
input::placeholder{
    color: rgba(240, 248, 255, 0.862);
    font-size: 20px;
    font-weight: 600;
}
button{
    border: none;
    width: 70px;
    text-align: center;
    font-size: 40px ;
    font-weight: 700;
    color: white;
    background-color: transparent;
    /*transform: translate(0.5vw, 4vh/*2.9vh);*/
    transition: 0.3s all ease;
    cursor: pointer;
}
button:hover{

    color: green;
    transition: 0.1s all ease;
}
.box{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-content: center;
    transition: 1s all ease;
}
.locationBox{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(93, 90, 90, 0.833);
}
.locationInfo{
    display: flex;
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 90px;   
}
.listLocation{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 80vw;
    font-size: 2vw;
    color: white;
    flex-direction: row;
    column-gap: 7vw;
    padding-left: 0px;
    padding-right: 0px;
    flex-wrap: wrap;        
}
.titleLocation{
    font-size: 50px;
}
.listLocation li{
    display: flex;
    text-align: center;
    width: max-content/*80vw*/;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px; 
    float: left; 
    line-height: 5.5vh;
    margin: 0 auto;
} 
.listLocation li span{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.titleLocation{
    font-weight: bold;
    font-size: 2.5vw;
}
.cardBox{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: flex-end;
   justify-content: flex-start;
   color: white;
   padding-top: 100px;
   padding-left: 120px;
   row-gap: 5vw;
   column-gap: 5vw;
   height: auto;
}
.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 290px;
    background-color: rgba(93, 90, 90, 0.833);
    border-top-left-radius: 20px;
    border-top-right-radius: 50px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cards{
    max-width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.cards img{
    display: block;
    max-width: 100%;
    height: auto;
    /*width: 15vw;*/
    border-top-left-radius: 20px;
    border-top-right-radius: 50px;
}
.circle{
    display: flex;
    justify-content: center;
    width: 6em;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px; 
    padding-right: 10px;
    text-align: justify;
}
.nameResident{
    font-size: 50px;
}
.status{
    font-size: 20px;
}
.cardList{
    list-style-type: none;
}
.ulList{
    list-style-type: none;
    font-size: 20px;
}
list{
    list-style-type: none;
}
@media only screen and ( max-width: 1024px){
    .cardBox{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        color: white;
        padding-top: 10px;
        padding-left: 0px;
        row-gap: 4vh;
        column-gap: 6vw;
        height: auto;
     }
     .cardContainer{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
         min-width: 215px;
         background-color: rgba(93, 90, 90, 0.833);
         border-top-left-radius: 20px;
         border-top-right-radius: 50px;
         height: auto;
         padding-top: 5px;
         padding-bottom: 10px;
     }
     .cards{
         max-width: 200px;
         height: auto;
         display: flex;
         flex-direction: column;
     }
     .cards img{
         display: block;
         max-width: 100%;
         height: auto;
         /*width: 15vw;*/
         border-top-left-radius: 20px;
         border-top-right-radius: 50px;
     }
     .circle{
         display: flex;
         justify-content: center;
         width: 6em;
         flex-direction: column;
         justify-content: center;
         flex-wrap: wrap;
         padding-bottom: 10px; 
         padding-right: 10px;
         text-align: justify;
    }
    .status{
        padding-left: 25px;
        font-size: 15px;
    }
    .nameResident{
        font-size: 17px;
    }
    .cardList{
        list-style-type: none;
        font-size: 15px;
    }
    .ulList{
        list-style-type: none;
        font-size: 17px;
    }
    list{
        list-style-type: none;
    } 
}
@media only screen and ( max-width: 600px){
    body{
        background-color: rgb(93, 4, 93);
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 100px;
    }
    .header{
        display: flex;
        flex-direction: row;
        width: 100vw;
        background-size: cover;
        aspect-ratio: 1.6;
        background-image: url('./assets/img1.jpg');
        column-gap: 3vw; 
        padding-top: 0.5vh;   
    }
    .logo{
        padding-top: 20px;
        object-fit: contain;
        width: 25vw;
        height: 15vh;
    }
    form{
        padding-top: 1px;
        display: flex;
        justify-content: center;
        width: 50vw;
        height: 5vh;
    }
    input{
        justify-content: left;
        min-width: 290px;
        padding: 1.5vh;
        width: 50vw;
        height: 0vh;
        border-width: 2px; 
        transform: translate(-5vh, 21vw);  
        font-size: 20px;       
        padding-left: 10px;
        background-color: rgba(240, 248, 255, 0.862);
    }
    input::placeholder{
        color: rgba(0, 0, 0, 0.399);
        font-size: 15px;
        padding-bottom: 10px;
    }
    button{
        display: none;
    }
    .box{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        justify-content: center;
        align-content: center;
    }
    .locationBox{
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: rgba(93, 90, 90, 0.833);
        height: auto;
    }
    .locationInfo{
        width: 95vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: auto;
        padding-top: 5px;
        padding-bottom: 5px; 
    }
    .listLocation{
        display: flexbox;
        flex-wrap: wrap;
        align-content: flex-start;        
        list-style: none;
        width: 90vw;
        height: auto;
        font-size: 10px;
        color: white;
        flex-direction: row;
        justify-content: center;
        column-gap: 5vw;
        padding-top: 0%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .titleLocation{
        font-size: 16px;
    }
    .listLocation li{
        display: flexbox;
        text-align: center;
        width: min-content;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 10px; 
        justify-content: center;
        /*float: left;*/
        line-height: 18px;
        padding-top: 10px; 
        margin: 0 auto;
    } 
    .listLocation li span{
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .titleLocation{
        font-weight: bold;
    }
    .cardBox{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        color: white;
        padding-top: 10px;
        padding-left: 0px;
        row-gap: 4vh;
        column-gap: 6vw;
        height: auto;
     }
     .cardContainer{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
         min-width: 215px;
         background-color: rgba(93, 90, 90, 0.833);
         border-top-left-radius: 20px;
         border-top-right-radius: 50px;
         height: auto;
         padding-top: 5px;
         padding-bottom: 10px;
     }
     .cards{
         max-width: 200px;
         height: auto;
         display: flex;
         flex-direction: column;
     }
     .cards img{
         display: block;
         max-width: 100%;
         height: auto;
         /*width: 15vw;*/
         border-top-left-radius: 20px;
         border-top-right-radius: 50px;
     }
     .circle{
         display: flex;
         justify-content: center;
         width: 6em;
         flex-direction: column;
         justify-content: center;
         flex-wrap: wrap;
         padding-bottom: 10px; 
         padding-right: 10px;
         text-align: justify;
    }
    .status{
        padding-left: 25px;
        font-size: 15px;
    }
    .nameResident{
        font-size: 17px;
    }
    .cardList{
        list-style-type: none;
        font-size: 15px;
    }
    .ulList{
        list-style-type: none;
        font-size: 17px;
    }
    list{
        list-style-type: none;
    }
}
@media only screen and ( max-width: 300px){
    body{
        background-color: rgb(93, 4, 93);
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 100px;
    }
    .header{
        display: flex;
        flex-direction: row;
        min-width: 310px;
        aspect-ratio: 2.0;
        height: min-content;
        background-image: url('./assets/img1.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        column-gap: 2.5vw; 
        padding-top:0.5vh;
        padding-left: 25px;
    }
    .logo{
        top: 0px;
        position: flex;
        padding-top: 1vh;
        object-fit: contain;
        width: 90px;
        height: 15vh;
        transform: translate(25, -20px);
    }
    .logo:hover{
        transform: rotate(0deg);
        transition: 1s all ease; 
    }
    form{ 
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: min-content;
        height: min-content;
        
    
    }
    input{
        min-width: 180px;
        height: 7px;
        border-width: 5px;
        border-color: transparent;
        border-radius: 100px;
        background-color: rgba(141, 139, 139, 0.425);
        transform: translate(-15px, 8px);
        padding-left: 5px;
        color: #000;
    }
    input::placeholder{
        color: rgba(240, 248, 255, 0.862);
        font-size: 14px;
        font-weight: 600;
        text-shadow: 0.2px 0.2px 0.2px 0.2px solid black;
    }
    button{
        display: none;
    }

   /* button{
        height: 3.5vh;
        font-size: 30px ;
        font-weight: 900;
        transform: translate(-4.9vh, 18vw);
        transition: 0.3s all ease;
        cursor: pointer;
        color: white;
    }
    button:hover{
        color: green;
        transition: 0.1s all ease;
    }*/
    .box{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        justify-content: center;
        align-content: center;
    }
    .locationBox{
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: rgba(93, 90, 90, 0.833);
        height: auto;
    }
    .locationInfo{
        width: 90vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 40px; 
    }
    .listLocation{
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;        
        list-style: none;
        width: 90vw;
        height: auto;
        font-size: 10px;
        color: white;
        flex-direction: row;
        justify-content: last baseline;
        column-gap: 4vw;
        padding-top: 0%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .titleLocation{
        font-size: 14px;
    }
    .listLocation li{
        display: flexbox;
        text-align: center;
        width: min-content;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 10px;
        /*float: left;*/
        line-height: 18px;
        padding-top: 10px; 
        margin: 0 auto;
    } 
    .listLocation li span{
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .titleLocation{
        font-weight: bold;
    }
    .cardBox{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        color: white;
        padding-top: 10px;
        padding-left: 0px;
        row-gap: 4vh;
        column-gap: 6vw;
        height: auto;
     }
     .cardContainer{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
         min-width: 215px;
         background-color: rgba(93, 90, 90, 0.833);
         border-top-left-radius: 20px;
         border-top-right-radius: 50px;
         height: auto;
         padding-top: 5px;
         padding-bottom: 10px;
     }
     .cards{
         max-width: 200px;
         height: auto;
         display: flex;
         flex-direction: column;
     }
     .cards img{
         display: block;
         max-width: 100%;
         height: auto;
         /*width: 15vw;*/
         border-top-left-radius: 20px;
         border-top-right-radius: 50px;
     }
     .circle{
         display: flex;
         justify-content: center;
         width: 6em;
         flex-direction: column;
         justify-content: center;
         flex-wrap: wrap;
         padding-bottom: 10px; 
         padding-right: 10px;
         text-align: justify;
    }
    .status{
        padding-left: 25px;
        font-size: 15px;
    }
    .nameResident{
        font-size: 17px;
    }
    .cardList{
        list-style-type: none;
        font-size: 15px;
    }
    .ulList{
        list-style-type: none;
        font-size: 17px;
    }
    list{
        list-style-type: none;
    }
}

