*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    top: 0px;
    margin: 0px;
    left: 0px;
    margin-right: 0px;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(93, 4, 93);
    padding-bottom: 200px;
}
.App{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100vw;
    aspect-ratio: 2.0;
    height: min-content;
    background-image: url('./assets/img1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    column-gap: 4vw; 
    padding-top: 75px;
}
.logo{
    top: 0px;
    position: flex;
    padding-top: 0px;
    object-fit: contain;
    width: 25vw;
    height: 15vh;
    transform: rotate(-35deg);
    transition: 0.3s all ease;
}
.logo:hover{
    transform: rotate(0deg);
    transition: 1s all ease; 
}
form{
    display: flex;
    flex-direction: row;
    width: 40vw;
    height: min-content;
}
input{
    width: 1800px;
    height: 70px;
    border-width: 5px;
    border-color: transparent;
    font-size: 30px;
    border-radius: 50px;
    background-color: rgba(141, 139, 139, 0.425);
    transform: translateY(30px);
    padding-left: 25px;
    color: #000;
}
input::placeholder{
    color: rgba(240, 248, 255, 0.862);
    font-size: 20px;
    font-weight: 600;
}
button{
    border: none;
    column-gap: 50px;
    height: 3.5vh;
    width: 56px;
    text-align: center;
    font-size: 70px ;
    font-weight: bold;
    color: white;
    background-color: transparent;
    transform: translate(10px, 26px);
    transition: 0.3s all ease;
    cursor: pointer;
}
button:hover{

    color: green;
    transition: 0.1s all ease;
}
.box{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-content: center;
    transition: 1s all ease;
}
.locationBox{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(93, 90, 90, 0.833);
}
.locationInfo{
    display: flex;
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 90px;   
}
.listLocation{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 80vw;
    font-size: 25px;
    color: white;
    flex-direction: row;
    column-gap: 25px;
    padding-left: 0px;
    padding-right: 0px;
    flex-wrap: wrap;        
}
.titleLocation{
    font-size: 50px;
}
.listLocation li{
    display: flexbox;
    text-align: center;
    width: 12em;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px; 
    float: left; 
    line-height: 60px;
} 
.listLocation li span{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.titleLocation{
    font-weight: bold;
}
.cardBox{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   color: white;
   padding-top: 100px;
   padding-left: 40px;
   row-gap: 80px;
   column-gap: 60px;
   height: auto;
}
.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    background-color: rgba(93, 90, 90, 0.833);
    border-top-left-radius: 20px;
    border-top-right-radius: 50px;
    height: auto;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
}
.cards{
    width: auto;
    display: flex;
    flex-direction: column;
}
.cards img{
    width: 280px;
    border-top-left-radius: 20px;
    border-top-right-radius: 50px;
}
.circle{
    display: flex;
    justify-content: center;
    width: 5em;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px; 
    padding-right: 10px;
    text-align: justify;
}
.nameResident{
    font-size: 50px;
}
.status{
    font-size: 20px;
}
.cardList{
    list-style-type: none;
}
.ulList{
    list-style-type: none;
    font-size: 20px;
}
list{
    list-style-type: none;
}
@media only screen and ( max-width: 600px){
    body{
        background-color: rgb(93, 4, 93);
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 100px;
    }
    .header{
        display: flex;
        flex-direction: row;
        width: 100vw;
        background-size: cover;
        aspect-ratio: 1.6;
        background-image: url('./assets/img1.jpg');
        column-gap: 3vw; 
        padding-top: 0.5vh;   
    }
    .logo{
        padding-top: 20px;
        object-fit: contain;
        width: 35vw;
        height: 10vh;
    }
    form{
        padding-top: 1px;
        display: flex;
        justify-content: center;
        width: 50vw;
        height: 5vh;
    }
    input{
        justify-content: left;
        min-width: 290px;
        padding: 1.5vh;
        width: 50vw;
        height: 0vh;
        border-width: 2px; 
        transform: translate(-5vh, 21vw);  
        font-size: 20px;       
        padding-left: 10px;
        background-color: rgba(240, 248, 255, 0.862);
    }
    input::placeholder{
        color: rgba(0, 0, 0, 0.399);
        font-size: 15px;
        padding-bottom: 10px;
    }
    button{
        display: none;
    }
   /* button{
        height: 3.5vh;
        font-size: 30px ;
        font-weight: 900;
        transform: translate(-4.9vh, 18vw);
        transition: 0.3s all ease;
        cursor: pointer;
        color: white;
    }
    button:hover{
        color: green;
        transition: 0.1s all ease;
    }*/
    .box{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        justify-content: center;
        align-content: center;
    }
    .locationBox{
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: rgba(93, 90, 90, 0.833);
        height: auto;
    }
    .locationInfo{
        width: 90vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 40px; 
    }
    .listLocation{
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;        
        list-style: none;
        width: 90vw;
        height: auto;
        font-size: 10px;
        color: white;
        flex-direction: row;
        justify-content: left;
        column-gap: 5vw;
        padding-top: 0%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .titleLocation{
        font-size: 16px;
    }
    .listLocation li{
        display: flexbox;
        text-align: center;
        width: min-content;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 10px; 
        justify-content: center;
        /*float: left;*/
        line-height: 18px;
        padding-top: 10px; 
    } 
    .listLocation li span{
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .titleLocation{
        font-weight: bold;
    }
    .cardBox{
       padding-top: 0%;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       align-content: center;
       justify-content: center;
       color: white;
       row-gap: 20px;
       height: auto;
    }
    .cardContainer{
        width: 215px;
        background-color: rgba(93, 90, 90, 0.833);
        border-top-left-radius: 20px;
        border-top-right-radius: 50px;
        height: auto;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .cards{
        width: auto;
        display: flex;
        flex-direction: column;
        
    }
    .cards img{
        
        width: 190px;
        border-top-left-radius: 20px;
        border-top-right-radius: 50px;
    }
    .circle{
        display: flex;
        justify-content: center;
        width: 4.5em;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 50px; 
        padding-right: 10px;
        float: right;
    }
    .status{
        padding-left: 25px;
        font-size: 17px;
    }
    .nameResident{
        font-size: 20px;
    }
    .cardList{
        list-style-type: none;
        font-size: 20px;
    }
    .ulList{
        list-style-type: none;
        font-size: 17px;
    }
    list{
        list-style-type: none;
        font-size: 20px;
    }
}
